a {
  text-decoration: none;
}

iframe {
  border-radius: 2vh;
  box-shadow: 10px 10px 20px rgba(223, 239, 212, 0.9921568627);
}

@media (max-width: 575px) {
  nav {
    justify-items: end;
  }
  .texto_principal img {
    max-width: 70%;
    height: auto;
  }
  #servicios {
    padding: 2vh;
  }
  .info_personal {
    width: 100vw;
    padding-right: 2vw;
    padding-left: 2vw;
  }
  .info_personal img {
    margin-left: 1vw;
  }
  .sobre_mi {
    height: auto;
    margin-top: 7vh;
    margin-bottom: 2vh;
    justify-content: center;
  }
  .agenda {
    justify-items: center;
  }
  .agenda iframe {
    max-height: 70vh;
  }
  .agenda h2 {
    padding-top: 6vh;
  }
  .contacto {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    margin-top: 5vh;
    padding: 1vh;
  }
  .contacto iframe {
    max-width: 90vw;
  }
  .contacto h2 {
    font-size: 6vw;
  }
  .contacto_redes img {
    min-width: 10vw;
  }
  .productos {
    margin-top: 1vh;
    padding-top: 5vh;
  }
  .info_productos {
    margin: 0;
    margin-bottom: 2vh;
  }
  .tarjeta_productos {
    padding: 3vw;
  }
}
@media (min-width: 576px) {
  .info_personal {
    align-items: start;
    justify-items: center;
  }
  .info_personal p {
    margin-top: 8vh;
  }
  .sobre_mi {
    height: 85vh;
  }
}
footer {
  background-color: #d7ace4;
  color: azure;
  text-align: center;
  border-bottom: #d7ace4;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
footer p {
  margin-bottom: 0;
}

.enlace_footer {
  margin: 1vh;
}
.enlace_footer img {
  max-width: 2vh;
}

nav {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #d7ace4;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: #d7ace4;
  align-items: center;
  height: 7vh;
}

.lista_nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1vh;
  font-size: 2.5vh;
  color: azure;
}
.lista_nav a {
  color: azure;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/fondo_principal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inicio_principal {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
  position: relative;
}

.texto_principal {
  height: 94vh;
  display: grid;
  grid-template-rows: 5fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 4vh;
}
.texto_principal img {
  max-width: 90%;
  height: auto;
  border-radius: 14rem;
  box-shadow: 10px 10px 20px #d7ace4;
}
.texto_principal h1 {
  padding-top: 4vh;
}
.texto_principal h2 {
  padding-top: 10vh;
}
.texto_principal button:hover {
  background-color: #cf7fe7;
  transform: scale(1.05);
}
.texto_principal button:active {
  background-color: #7b3292;
  transform: scale(0.95);
}

.boton_agenda {
  margin: 0.5vh;
  padding: 0.5vh;
  font-family: "Times New Roman", Times, serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #a554a4;
  color: azure;
  border-radius: 1vh;
}

.logo_principal img {
  max-width: 6vh;
  margin-left: 0.5vh;
  display: block;
}

.logos_redes img {
  max-width: 1vh;
}

#servicios {
  background-color: rgba(224, 170, 241, 0.2941176471);
  padding-top: 10vh;
  border-radius: 10px;
}

.servicios p {
  margin: 2vh;
  font-size: 2vh;
}

.sobre_mi {
  display: grid;
  height: 95vh;
  margin-top: 5vh;
}

.info_personal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1vh;
  width: 90vw;
  align-content: center;
  justify-content: center;
}
.info_personal img {
  box-shadow: 10px 10px 20px #d7ace4;
  min-width: 20vh;
  min-height: 25vh;
  max-height: 75vh;
  border-radius: 7vh;
  margin-top: 1vh;
  margin-left: 3vw;
}
.info_personal p {
  box-shadow: 10px 10px 20px #d7ace4;
  background-color: rgba(223, 239, 212, 0.9921568627);
  padding: 1vh;
  border-radius: 0.5vh;
}

.accordion-body {
  background-color: rgba(223, 239, 212, 0.9921568627);
}
.accordion-body img {
  box-shadow: 10px 10px 20px #d7ace4;
}

.accordion-button {
  background-color: #cf7fe7;
}

.parte_inferior {
  grid-column: 1/3;
}

.parte_superior {
  margin-top: 2vh;
}

.imagenes_servicios {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  border-radius: 7vh;
  max-height: 50vh;
  max-width: 40vh;
  object-fit: cover;
  margin-bottom: 5vh;
}

.precio {
  color: rgb(43, 69, 43);
}

.list-group {
  position: sticky;
  top: 15vh;
  align-self: flex-start;
}
.list-group a:hover {
  background-color: #d7ace4;
  color: azure;
}

#list-item-1, #list-item-2, #list-item-3, #list-item-4 {
  background-color: rgba(223, 239, 212, 0.9921568627);
  border-radius: 2vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-bottom: 2vh;
}
#list-item-1 img, #list-item-2 img, #list-item-3 img, #list-item-4 img {
  box-shadow: 10px 10px 20px #d7ace4;
}

.agenda {
  display: grid;
  justify-content: center;
  margin-top: 5vh;
  background-image: url(../img/fondo_principal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 91vh;
}
.agenda iframe {
  width: 80vw;
  height: 80vh;
  background-color: #eee2f2;
}

.agenda, .contacto, .productos {
  padding: 1vh;
}

.contacto {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.contacto iframe {
  height: 39vh;
  background-color: #eee2f2;
}
.contacto h2 {
  padding-top: 2vh;
  font-size: 4vh;
  text-align: center;
}

.columna {
  flex: 1;
  justify-items: center;
  align-content: center;
}
.columna h2 {
  margin-bottom: 5vh;
}

.contacto ul {
  border-radius: 3vh;
}

.horarios {
  box-shadow: 10px 10px 20px #d7ace4;
}

.contacto_redes {
  padding: 0;
}
.contacto_redes img {
  max-width: 4vh;
  padding: 0.5vh;
  background-color: rgba(240, 248, 255, 0.414);
  border-radius: 1vh;
  box-shadow: 10px 10px 20px #d7ace4;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.productos h2 {
  margin-bottom: 5vh;
}
.productos h3 {
  margin-bottom: 2vh;
}

.tarjeta_productos {
  justify-content: center;
}
.tarjeta_productos img {
  max-width: 20vh;
}

.info_productos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3vh;
  align-items: center;
  box-shadow: 10px 10px 20px #d7ace4;
  height: 100%;
  padding: 1vh;
  transition: 0.5s;
}
.info_productos img {
  margin-bottom: 1vh;
  align-self: center;
}
.info_productos button {
  width: 100%;
  justify-content: end;
  padding: 0.5vh;
  border-radius: 1vh;
  transition: 0.5s;
  color: #212020;
  font-size: 1.7vh;
}
.info_productos:hover {
  transform: scale(1.05);
}
.info_productos button:hover {
  background-color: #cf7fe7;
  transform: scale(1.02);
}
.info_productos button:active {
  background-color: #7b3292;
  transform: scale(0.95);
}

.dropdown-item:hover {
  transform: scale(0.97);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
  text-shadow: 2px 2px 4px #d7ace4;
}

/*# sourceMappingURL=style.css.map */
