/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    scroll-padding-top: 5rem;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #d7ace4;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: #d7ace4;
    border-style:groove;
}

footer {
    background-color: #d7ace4;
    color: azure;
    text-align: center;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.inicio_principal {
    background-image: url(../img/fondo_principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem; 
    position: relative;
}

.texto_principal img h1{
    margin-top: 5rem;
}
.texto_principal h1{
    margin-top: 5rem;
}
.boton_agenda {
    margin: .5rem;
    padding: .5rem;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #a554a4; 
    color: azure; 
    border-radius: 1rem;
}

.texto_principal button:hover {
    background-color: #cf7fe7;
    transform: scale(1.05);
}

.texto_principal button:active {
    background-color: #7b3292;
    transform: scale(0.95);
}

.texto_principal h2{
    margin-top: 10rem;
}

.logo_principal img {
    max-width: 4rem;
    margin: .5rem;
    display: block;
}

.lista_nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: .5rem;
}

.lista_nav li {
    font-size: 1.4rem;
    color: azure;
}

.logos_redes img {
    max-width: 1rem;
}

.lista_nav a {
    color: azure;
    text-decoration: none;
}


.enlace_footer{
    margin: 1rem;
}

.enlace_footer img{
    max-width: 2rem;
}


#servicios {
    background-color: #e0aaf18e;
    padding: 6rem;
}


.servicios h2{
    margin-bottom: 5rem;
    text-shadow: 2px 2px 4px #d7ace4;
}


.servicios p{
    margin: 2rem;
    text-shadow: 2px 2px 4px #d7ace4;
    font-size: 1.2rem;
}

.info_personal{
    background-image: url(../img/fondo_principal.png);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    width: 100%;
    margin-top: 5rem;
    padding: 2rem;
}

.info_personal img{
    box-shadow: 10px 10px 20px #d7ace4;
}

.info_personal img{
    width: 100%;
    height: auto;
    border-radius: 7rem;
}

.texto_personal h2{
    color: #ffffff;
    text-shadow: 2px 2px 4px #d7ace4;
    margin-bottom: 2rem;
}

.texto_personal p{
    color: #212020;
    text-shadow: 2px 2px 4px #d7ace4;
    font-size: 1.2rem;

}


.imagenes_servicios{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    border-radius: 7rem;
    max-height: 25rem;
    max-width: 35rem;
    object-fit: cover;
    margin-bottom: 5rem;
    text-shadow: 2px 2px 4px #d7ace4;
}

iframe{
    border-radius: 2rem;
    box-shadow: 10px 10px 20px #d7ace4;
}

.tarjeta_productos img{
    border-radius: 2rem;
}
.precio{
    color: rgb(43, 69, 43);
}


.list-group {
    position: sticky;
    top: 15rem;
    align-self: flex-start;
}


.list-group a:hover {
    background-color: #d7ace4;
    color: white; 
}

#list-item-1, #list-item-2, #list-item-3, #list-item-4{
    background-color: #dfefd4fd;
    border-radius: 2rem;
    padding: .5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#list-item-1 img, #list-item-2 img, #list-item-3 img, #list-item-4 img{
    box-shadow: 10px 10px 20px #d7ace4;
}

.agenda, .contacto{
    margin-top: 5rem;
    padding: 2rem;
    background-image: url(../img/fondo_principal.png);
}

.agenda iframe , .contacto iframe{
    width: 50rem;
    height: 39rem;
    background-color: #eee2f2;
}

.agenda h2, .contacto h2{
    padding-top: 2rem;
    text-shadow: 2px 2px 4px #d7ace4;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;

}

.contacto ul{
    border-radius: 3rem;
    max-width: 20rem;
}

.horarios{
    box-shadow: 10px 10px 20px #d7ace4;
}
.contacto_redes{
    padding: 0;
}

.contacto_redes img{
    max-width: 4rem;
    padding: .5rem;
    background-color: rgba(240, 248, 255, 0.414);
    border-radius: 1rem;
    box-shadow: 10px 10px 20px #d7ace4;

}

.contenedor_info_prinicipal{
    justify-items: center;
}
