* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
}

nav{
    background-color: #d7ace4;
    margin-top: 3rem;
    text-align: center;
}

footer{
    background-color: #d7ace4;
    color: azure;
    text-align: center;
}

a {
    text-decoration: none;
}


.lista_nav img {
    width: 10rem;
    margin: -2rem 2rem;
}

.lista_nav li {
    font-size: 2rem;
}
.logos_redes img{
    max-width: 2rem;
}

.enlace_nav{
    margin: 2rem;
}

.enlace_nav a{
    color: azure;
}

.enlace_footer{
    margin: 1rem;
}

main{
    text-align: center;
    margin: 1rem;
}

#servicios{
    color: #d7ace4;
}

.servicios li{
    color: #ffffff;
    margin: 1.5rem;
}

.servicios h2{
    margin-bottom: 20rem;
    text-shadow: 2px 2px 4px #d7ace4;
    
}

.servicios p{
    margin: 2rem;
    text-shadow: 2px 2px 4px #d7ace4;
    font-size: 1.2rem;
}

.info_personal h2{
    color: #ffffff;
    text-shadow: 2px 2px 4px #d7ace4;
    margin: 2rem;
}

.info_personal p{
    color: #ffffff;

    text-shadow: 2px 2px 4px #d7ace4;
    font-size: 1.2rem;
    margin-top: 20rem;
    text-shadow: 2px 2px 4px #d7ace4;

}

.texto_personal{
    background-image: url("../img/foto_vale.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7rem;
}

.francesa{
    background-image: url("../img/imagen1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7rem;
}

.gel{
    background-image: url("../img/imagen2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7rem;
}

.acrilica{
    background-image: url("../img/imagen3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7rem;
}

.procelana{
    background-image: url("../img/imagen4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7rem;
}

.seda{
    background-image: url("../img/imagen5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 7rem;
}

.contacto{
    color: #d7ace4;
    margin: 2rem;
}

iframe{
    border-radius: 2rem;
}

.lista_productos{
    color: #d7ace4;
    margin: 2rem;
}

.tarjeta_productos{
    margin: 2rem;
}

.tarjeta_productos img{
    border-radius: 2rem;
}
.precio{
    color: rgb(43, 69, 43);
}