footer {
    background-color: $primary-color;
    color: $texto-color;
    text-align: center;
    border-bottom: $primary-color;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }
}


.enlace_footer {
    margin: 1vh;

    img {
        max-width: 2vh;
    }
}
