nav {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: $primary-color;
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: $primary-color;
    align-items: center;
    height: 7vh;
}


.lista_nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1vh;
    font-size: 2.5vh;
    color: $texto-color;

    a {
        color: $texto-color;
        text-decoration: none;
    }
}

