$background-color: #dfefd4fd;
$texto-color: azure;
$body-color: #f4f4f4;
$primary-color: #d7ace4;
$secundary-color: #e0aaf14b;
$button-color: #a554a4;
$iframe-color: #eee2f2;
$box-shadow: 10px 10px 20px;

a {
    text-decoration: none;
}


iframe{
    border-radius: 2vh;
    box-shadow: 10px 10px 20px $primary-color;
}
