@media (max-width: 575px) {
    nav {
        justify-items: end;
    }
    .texto_principal {
        img {
            max-width: 70%;
            height: auto;
        }
    }
    #servicios {
        padding: 2vh;
    }
    .info_personal {
        img {
            margin-left: 1vw;
        }
        width: 100vw;
        padding-right: 2vw;
        padding-left: 2vw;
    }
    .sobre_mi {
        height: auto;
        margin-top: 10vh;
        margin-bottom: 2vh;
        justify-content: center;
    }
    .agenda {
        justify-items: center;
        iframe {
            max-height: 70vh;
        }
        h2 {
            padding-bottom: 4vh;
        }
    }

    .contacto_redes {
        img {
            min-width: 10vw;
        }
    }
    .productos {
        margin-top: 7vh;
        padding-top: 5vh;
    }
    .info_productos {
        margin: 0;
        margin-bottom: 2vh;
    }
    .tarjeta_productos {
        padding: 3vw;
    }

    .boton_agenda{
        margin-top: 5vh;

        button:hover {
            background-color: #cf7fe7;
            transform: scale(1.05);
        }
    
        button:active {
            background-color: #7b3292;
            transform: scale(0.95);
        }
    }
}

@media (max-width: 850px) {
    .contacto {
        grid-template-columns: 2fr;
        align-content: center;
        justify-content: center;
        margin-top: 5vh;
        width: 100%;
        iframe {
            max-width: 90vw;
        }
        h2 {
            font-size: clamp(1.5rem, 2vw, 2vw);
            padding-top: 5vh;
        }
    }
}

@media (min-width: 576px) {
    .info_personal {
        align-items: start;
        justify-items: center;
    }
    .sobre_mi {
        height: 85vh;
    }

    .productos {
        margin-top: 7vh;
        padding-top: 5vh;
    }
}